.lego{
    background-image: url(1.jpg);
    height: 300px;
    background-position: 50 50;
    background-size: cover;
    color: white;
    text-align: center;
    align-items: center;
}
.logo{
    width: 100px;
}
.nav-item{
    background-color: brown;
    margin-right: 7px;
}
.navbar-toggler{
    background-color: brown;
    color: white ;important
}
img{width: 100%;}
.lego-fon{
    background-image: url(4.jpg);
    background-position: 50% 50%;
    align-items: center;
    padding: 6rem 0;
    background-size: cover;
}
li{
    background-color: rgba(148, 16, 16, 0.392);
    border-radius: 10px;
    list-style: none;
    margin: 1px;
    color: aliceblue;
    text-align: center;

}
.ff>h2{
    align-items: center;
    text-align: center;
}
.two{
    margin-top: 1rem;
}
.story{
    align-items: center;
    
}
.bg{
    background-color: brown;
}